name: Go

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ">=1.19.1"
          cache: true

      - run: go generate -v ./...
      - run: go vet -v ./...
      - run: go install golang.org/x/tools/cmd/goimports@latest
      - run: goimports -v -w . && git diff --exit-code
      - run: go build -v ./...
      - run: go test -v ./...
